#news
  - @feed_entries.each do |entry|
    .title
      = link_to entry.title, entry.url
    .author
      = "Escrito por #{entry.author} em #{entry.published_at.strftime("%d/%m/%Y")}"
    %br
  = will_paginate @feed_entries, :previous_label  => "Anterior", :next_label => "Próxima"

